<configuration>
  <appSettings>
    <add key="pythonpath" value="%SystemDrive%\home\site\wwwroot" />
    <add key="WSGI_HANDLER" value="hostingstart-python.application" />
  </appSettings>
  <system.webServer>
    <staticContent>
        <mimeMap fileExtension=".json" mimeType="application/json" />
        <mimeMap fileExtension=".js" mimeType="text/javascript" />
        <mimeMap fileExtension=".css" mimeType="text/css" />
 </staticContent>
</system.webServer>
</configuration>